<h1>Listing projects</h1>

<table>
  <thead>
    <tr>
      <th>Project Name</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
      </tr>
      <tr>
        <td><%= link_to 'Show', project.forecast %></td>
        <td><%= link_to 'Delete Project', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create New Project', new_forecast_path %>
